@import '../../GeneralStyles/partials/typography.scss';

.movie { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    &__image { 
        height: 300px;
    }
    &__title { 
        font-family: "Limelight";
        font-size: 3em;
        margin-bottom: 1rem;
    }
    &__overview { 
        margin-top: 0;
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 4rem;
    }
}